* {
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.title {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    color: beige;
    background-color: black;
    display: block;
    margin: 15px auto;
    padding: 30px;
    text-align: center;
}

ul {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    background-color: black;
    color: beige;
    border: 20px;
    border-color: indigo;
    padding: 50px;
}